VITE_apiKey=your_firebase_api_key
VITE_authDomain=your_firebase_auth_domain
VITE_projectId=your_firebase_project_id
VITE_storageBucket=your_firebase_storage_bucket
VITE_messagingSenderId=your_firebase_m_s_id
VITE_appId=your_firebase_app_id
VITE_imagebbAPI=your_imagebb_api_key
VITE_BACKEND_URL=your_backend_server_link